<img class="background" src="http://res.cloudinary.com/daqcetxc6/image/upload/v1445393961/genres/pop_crowd.jpg"/>
<div class="container sign-in">

  <div class="row">
    <h5 class="error-messages"><%= render "layouts/errors" %></h5>
  </div>


  <form action="<%= session_url %>" method="post">
    <%= authenticity_token %>

    <div class="form-group">
      <h1>Log in</h1>
    </div>

    <div class="form-group">
      <label for="user_username">Username</label>
      <input class="input_text form-control"
             type="text"
             name="user[username]"
             placeholder="username">
    </div>

    <div class="form-group">
      <label for="user_password">Password</label>
      <input class="input_text form-control"
             type="password"
             name="user[password]"
             placeholder="password">
    </div>

    <button type="submit" class="btn btn-default">Log in</button>
  </form>

  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="user[username]" value="Justin Vernon">
    <input type="hidden" name="user[password]" value="password">

    <%= authenticity_token %>
    <button type="submit" class="btn btn-default">DEMO - Log in as Justin Vernon</button>
  </form>
</div>
